<%= render "shared/scrollableportada" %>

<div id="contenedorcolumnes">
	<div class="columnaesquerra">
	<center><%= image_tag("subticriticas.png") %></center>
	<br>
<%= render "shared/scrollablecriticas" %>
	</div>
	<div class="columnadreta">
<center><%= image_tag("subtinoti.png") %></center>
	<br>
	<% @noticias.each do |n| %>
	<span style="color: #999; font-size: 11pt">·<%= link_to n.title, n %></span><br>	
	<%= raw(n.avance) %>
	<% end %>
	</div>
</div>
	<div id="contenedorarticulos">
	<center><%= image_tag("otrosarticulos.png") %></center>

<div id="demo">
		<% i=1 %>
		<table align="center">
		<tr>
		<% @n=@tots.count %>
		<% if 4 >= @n %>
			<% @tots.each do |a| %>
				<td><%= link_to image_tag(a.image.url, :title => '<i>'+a.title+'</i><br> por '+a.autor, :size => "400x175"), a %></td>		
	  			<% if i==2 %>
				</tr>
				<% i=0 %>
				<tr>
				<% end %>
				<% i=i+1 %>
			<% end %>
		<% else %>
			<td><%= link_to image_tag(@tots[0].image.url, :title => '<i>'+@tots[0].title+'</i><br> por '+@tots[0].autor, :size => "400x175"), @tots[0] %></td>	
			<td><%= link_to image_tag(@tots[1].image.url, :title => '<i>'+@tots[1].title+'</i><br> por '+@tots[1].autor, :size => "400x175"), @tots[1] %></td></tr><tr>
			<td><%= link_to image_tag(@tots[2].image.url, :title => '<i>'+@tots[2].title+'</i><br> por '+@tots[2].autor, :size => "400x175"), @tots[2] %></td>	
			<td><%= link_to image_tag(@tots[3].image.url, :title => '<i>'+@tots[3].title+'</i><br> por '+@tots[3].autor, :size => "400x175"), @tots[3] %></td>
		<% end %>
		</tr>
		</table>
</div>
<% if !user_signed_in? %>
<%= link_to "Login as user", new_user_session_path %>
<% end %>
<% if user_signed_in? %>
<p><%= link_to "Logout as User", destroy_user_session_path %></p>
<% end %>
	</div>
<script> 
$("#demo img[title]").tooltip();
</script> 


