<%= render "shared/scrollableportada" %>

<div id="contenedorcolumnes">
	<div class="columnaesquerra">
	<center><%= image_tag("subticriticas.png") %></center>
	<br>
<%= render "shared/scrollablecriticas" %>
	</div>
	<div class="columnadreta">
	<center><%= image_tag("subtinoti.png") %></center>
	<br>
	<% @noticias.each do |n| %>
	<strong>·<%= link_to n.title, n %></strong><br>	
	<%= raw(n.avance) %>
	<% end %>
	</div>
</div>
	<div id="contenedorarticulos">
	<center><%= image_tag("otrosarticulos.png") %></center>
	<div class="columnaesquerra"><br>
<div id="demo"> 
	<img src="http://static.flowplayer.org/tools/img/photos/1.jpg"
		title="A must have tool for designing better layouts and more intuitive user-interfaces."/> 
 
	<img src="http://static.flowplayer.org/tools/img/photos/2.jpg"
		title="Tooltips can be positioned anywhere relative to the trigger element."/> 
</div> 
	</div>
<script> 
$("#demo img[title]").tooltip();
</script> 
	<div class="columnadreta"><br>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque posuere pretium neque, sit amet dictum eros malesuada ac. Aliquam ac mi ut nisi iaculis hendrerit. Suspendisse potenti. Nulla congue mi vel mauris viverra ut euismod quam porta. Ut eu elit neque. Vestibulum euismod massa ut arcu tempus consectetur. Morbi sodales tortor eget eros euismod hendrerit dapibus
	</div>
	</div>

