<%= div_for comment do %>
<p>
	<strong>Posteado <%= time_ago_in_words(comment.created_at) %>
	ago</strong><br />
	<strong>Escrito por <%= comment.autor %></strong><br />
	<%= h(comment.body) %><br />
<% if admin_signed_in? %><%= link_to 'Destroy', comment, :method => :delete, :confirm => "Are you sure?" %>
<% else %>
<br>
<% end %>
</p>
<% end %>
