<!-- main navigator -->
<ul id="mainscroll_navi">

<% @especials.each do |e| %>
<li>
<%= image_tag(e.image.url,  :size => "175x75") %>			
</li>
<% end %>


<% @articulos.each do |a| %>
<li>
<%= image_tag(a.image.url,  :size => "175x75") %>			
</li>
<% end %>
</ul>



<!-- root element for the main scrollable -->
<div id="mainscroll">

	<!-- root element for pages -->

	<div id="pages">


		<% @especials.each do |e| %>
			<div class="page">
				<div class="scrollable">
					<div class="items">
						<div class="item">
							<%= link_to image_tag(e.image.url), e %>			
							<br><strong>
							<%= e.title %>
							</strong><br>por
							<%= e.autor %>
						</div>
					</div>
				</div>
			</div>
		<% end %>

		<% @articulos.each do |a| %>
			<div class="page">
				<div class="scrollable">
					<div class="items">
						<div class="item">
							<%= link_to image_tag(a.image.url), a %>			
							<br><strong>
							<%= a.title %>
							</strong><br>por
							<%= a.autor %>
						</div>
					</div>
				</div>
			</div>
		<% end %>

	</div>

</div>



