<!-- main navigator -->
<ul id="mainscroll_navi">

<% @especials.each do |e| %>
<li>
<%= image_tag(e.image.url,  :size => "175x75") %>			
</li>
<% end %>


<% @articulos.each do |a| %>
<li>
<%= image_tag(a.image.url,  :size => "175x75") %>			
</li>
<% end %>
</ul>



<!-- root element for the main scrollable -->
<div id="mainscroll">
	<!-- root element for pages -->
	<div id="pages">


		<% @articulos.each do |a| %>
			<div class="page">
				<div class="scrollable">
					<div class="items">
						<div class="item">
							<%= link_to image_tag(a.image.url), a %>			
							<br><strong>
							<%= a.title %>
							</strong><br>por
							<%= a.autor %>
						</div>
					</div>
				</div>
			</div>
		<% end %>

	</div>

</div>

<script>
// What is $(document).ready ? See: http://flowplayer.org/tools/documentation/basics.html#document_ready
$(document).ready(function() {

// main vertical scroll
$("#mainscroll").scrollable({



	// basic settings
	vertical: true,

	// up/down keys will always control this scrollable
	keyboard: 'static',
	circular: true,
next: '.scrollableOneNext', 
prev: '.scrollableOnePrev'

// main navigator (thumbnail images)
}).navigator("#mainscroll_navi").autoscroll({
	interval: 3000,
	autoplay: true,	
});

});
</script>

