<h1>Listing especials</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @especials.each do |especial| %>
  <tr>
    <td><%= especial.title %></td>
    <td><%= especial.body %></td>
    <td><%= link_to 'Show', especial %></td>
    <td><%= link_to 'Edit', edit_especial_path(especial) %></td>
    <td><%= link_to 'Destroy', especial, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Especial', new_especial_path %>
