<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @especial.title %>
</p>

<p>
  <b>Body:</b>
  <%= @especial.body %>
</p>

<p>
  <b>Portada:</b>
  <%= @especial.portada %>
</p>


<%= link_to 'Edit', edit_especial_path(@especial) %> |
<%= link_to 'Back', especials_path %>
