<h1>Editing critico</h1>

<%= form_for(@critico) do |f| %>
  <% if @critico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@critico.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>

  <p><%= f.label :firma %><br />
  <%= f.text_field :firma %></p>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Update" %></p>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(critico), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
