<center><table cellspacing=0><tr><td></td>
<% i=0 %>
<% @criticos.each do |c| %>
	<td style="border-width:1px;  border-color: #999; border-style: solid"><%= @puntuaciones[i].critico.firma %></td>
	<% i=i+1 %>
<% end %>
</tr>
<% j=0 %>
<tr>
<td style="border-width:1px;  border-color: #999; border-style: solid"><%= @puntuaciones[0].film.title %></td>
<% @puntuaciones.each do |p| %>
	<% if j==i %>
		<tr>
		<% j=0 %>
		<td style="border-width:1px;  border-color: #999; border-style: solid"><%= p.film.title %></td>
	<% end %>
	<% if current_critico.id==p.critico_id %>
		<td style="border-width:1px; border-color: #999; border-style: solid;border-left:0; border-top:0"><span id="<%= p.id %>" data-formtype="input" class="rest_in_place" data-url=<%="/puntuacions/" + p.id.to_s %> data-object="puntuacion" data-attribute="nota">
	<% else %>
	<td style="border-width:1px; border-color: #999; border-style: solid;border-left:0; border-top:0"><span>
	<% end %>
		<% k=0 %>
		<center>
		<% if p.nota==nil %>
			<% p.nota=0 %>
		<% end %>
		<% if p.nota<0 | 10<p.nota %>
			<% p.nota=0 %>
		<% end %>
		<% while (k+1)<p.nota %>
			<%= image_tag "starsmall.png" %>
			<% k=k+2 %>
		<% end %>
		<% if k<p.nota %>
			<%= image_tag "halfstarsmall.png" %>
		<% end %>
		<% if p.nota==0 %>
			<span style="font-size:0; color:#222">.</span>
		<% end %>
		</center>
		    </span></td>

	<% j=j+1 %>
	<% if j==i %>
		</tr>
	<% end %>
<% end %>
</table><br>
</center>
<br>
<% if critico_signed_in? %>
<%= link_to 'New Film', new_film_path %>
<% else %>
<%= link_to "Login as crítico", new_critico_session_path %>
<% end %>

