<div id = "contenedortextgeneral">
<div id = "contenedortextgeneral2"><br>
	<div id ="contenedortext"><center><br><br>
		  <span style="font-size:20pt"><b><%= (@critica.title) %></b></span>
		<br>
		<%= @critica.title_film %> (<%= @critica.year %>, <%= @critica.director %>)
		<br><br>
			<% k=0 %>
		<% while (k+1)<@critica.nota %>
			<%= image_tag "starsmall.png" %>
			<% k=k+2 %>
		<% end %>
		<% if k<@critica.nota %>
			<%= image_tag "halfstarsmall.png" %>
		<% end %>
		<br><br>
			<%=image_tag(@critica.image.url) %>	
</center>		
		<br>
		  <%= raw(@critica.body) %>

		<br><br>
		Por <b><%= raw(@critica.autor) %></b>

		<br>
<% if admin_signed_in? | (user_signed_in? && current_user.id==@critica.user.id) %><%= link_to 'Edit', edit_critica_path(@critica) %>
<% end %>
<br><br><br>
<h2>Comentarios</h2>
<div id="comments">
	<%= render :partial => @critica.comments %>
</div>

<% form_for ([@critica, Comment.new], :remote => true) do |f| %>
	<p>
		<%= f.label :body, "New Comment" %><br />
		<%= f.text_area :body %><br>
		    <%= f.label :autor %><br />
		    <%= f.text_field :autor %>
	</p>
	<p><%= f.submit "Add Comment" %></p>
<% end %>
	</div>
	<div id="contenedorlink">
  		<% if !@criticasrelacionadas1.empty? %>
		En este mismo especial:<br><br>
			<% @criticasrelacionadas1.each do |a| %>
				<div id="demo"><%= link_to image_tag(a.image.url, :title => '<i>'+a.title+'</i><br> por '+a.autor, :size => "50x72"), a %></div>
			<% end %>
		<% end %>
  		<% if !@criticasrelacionadas2.empty? %>
			Del mismo autor:<br><br>
			<% @criticasrelacionadas2.each do |a| %>
				<div id="demo"><%= link_to image_tag(a.image.url, :title => '<i>'+a.title+'</i><br> por '+a.autor, :size => "50x72"), a %></div>
			<% end %>
		<% end %>
	</div>
</div>
</div>
<script> 
$("#demo img[title]").tooltip();
</script> 

