<div id = "contenedortextgeneral">
<div id = "contenedortextgeneral2"><br>
	<div id ="contenedortext">
		  <b><%= (@critica.title) %></b>
		<br>
		<%= @critica.title_film %> (<%= @critica.year %>, <%= @critica.director %>)
		<br><br>
		  <%= raw(@critica.body) %>

		<br><br>
		  <b>Nota:</b>
		  <%= @critica.nota %>
		<br>
		<%= link_to 'Edit', edit_critica_path(@critica) %> |
		<%= link_to 'Back', criticas_path %>
	</div>
	<div id="contenedorlink">
	AAAAAAAAAAA
	</div>
</div>
</div>
