<div id = "contenedortextgeneral">
<div id = "contenedortextgeneral2"><br>
	<div id ="contenedortext">
		  <span style="font-size:20pt"><b><%= (@critica.title) %></b></span>
		<br>
		<%= @critica.title_film %> (<%= @critica.year %>, <%= @critica.director %>)
		<br><br>
		<% while (k+1)<@critica.nota %>
			<%= image_tag "starsmall.png" %>
			<% k=k+2 %>
		<% end %>
		<% if k<@critica.nota %>
			<%= image_tag "halfstarsmall.png" %>
		<% end %>
		<br><br>
			<%=image_tag(@critica.image.url) %>			
		<br><br>
		  <%= raw(@critica.body) %>

		<br><br>
		Por <%= raw(@articulo.autor) %>

		<br>
<% if admin_signed_in? | (user_signed_in? && current_user.id==@critica.user.id) %><%= link_to 'Edit', edit_critica_path(@critica) %>
<% end %>
	</div>
	<div id="contenedorlink">
  		<% if !@criticasrelacionadas1.empty? %>
		En este mismo especial:<br>
			<% @criticasrelacionadas1.each do |a| %>
				<div id="demo"><%= link_to image_tag(a.image.url, :title => '<i>'+a.title+'</i><br> por '+a.autor, :size => "50x72"), a %></div>
			<% end %>
		<% end %>
  		<% if !@criticasrelacionadas2.empty? %>
			Del mismo autor:<br>
			<% @criticasrelacionadas2.each do |a| %>
				<div id="demo"><%= link_to image_tag(a.image.url, :title => '<i>'+a.title+'</i><br> por '+a.autor, :size => "50x72"), a %></div>
			<% end %>
		<% end %>
	</div>
</div>
</div>
<script> 
$("#demo img[title]").tooltip();
</script> 

