<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @festival.title %>
</p>

<p>
  <b>Body:</b>
  <%= @festival.body %>
</p>


<%= link_to 'Edit', edit_festival_path(@festival) %> |
<%= link_to 'Back', festivals_path %>
