<!DOCTYPE html>
<html>
<head>
  <title>Fundido a Negro - Crítica y Análisis Cinematográfico</title>


<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
<%= stylesheet_link_tag 'application', 'scaffold', 'scrollable', 'topmenu' %>
<%= javascript_include_tag "chrome" %>


<%= javascript_include_tag "jquery.rest_in_place" %>
  <script type="text/javascript">
var J = jQuery.noConflict();
    rails_authenticity_token = '<%= form_authenticity_token %>'
    J(document).ready(function() {
      J(".rest_in_place").rest_in_place();
    });
  </script>

<%= javascript_include_tag "http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js" %>

  <%= javascript_include_tag "jquery-rails" %>


  <%= csrf_meta_tag %>
  <%= include_tiny_mce_if_needed %>

</head>
<body>
<div id="contenedor">
<div id=header>
<center><%= image_tag("fundidoanegrologo.jpg", :style => "align:middle;") %></center>
</div>
<div id="MainMenu">
	<div id="tab">
		<ul>
			<li class="portada"><a href="<%= portada_url %>"><span> Portada</span></a></li>
			<li class="articulos"><a href="<%= articulos_url %>"><span>Artículos</span></a></li>
			<li class="especiales"><a href="<%= especials_url %>"><span>Especiales</span></a></li>
			<li class="criticas"><a href="<%= criticas_url %>"><span>Críticas</span></a></li>
			<li class="puntuaciones"><a href="<%= puntuacions_url %>"><span>Puntuaciones</span></a></li>
		</ul>
	</div>
</div>


<%= yield %>



</div>
<%= render :partial => 'shared/analytics' %>
</body>
</html>
