<!DOCTYPE html>
<html>
<head>
  <title>Fundido a Negro.NET - Crítica y Análisis Cinematográfico</title>
  <%= stylesheet_link_tag :all %>

<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAOSd9q8g3QaAV3PdMj3ACmxTouM8V7v86wSq8s RHv9OnhKYqKkRRoZmj11XpuH9QwHACeX7SrwWlPlg"></script>
  <script type="text/javascript">
    google.load("jquery", "1.4.2");
  </script>


<%= javascript_include_tag "http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js" %>
  <%= javascript_include_tag "jquery-rails" %>

  <%= csrf_meta_tag %>
  <%= include_tiny_mce_if_needed %>






</head>
<body>
<div id="contenedor">
<div id=header>
<center><%= image_tag("fundidoanegrologo.jpg", :style => "align:middle;") %></center>
</div>

<%= yield %>



</div>
</body>
</html>
