<% form_for (@articulo, :html => { :multipart => true }) do |f| %>
  <% if @articulo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@articulo.errors.count, "error") %> prohibited this articulo from being saved:</h2>

      <ul>
      <% @articulo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <center><%= f.text_area :body, :class => "mceEditor","cols" => 100, "rows" => 40 %></center>
  </div>
  <div class="field">
    <%= f.label :especial_id %><br />
    <%= select("articulo", "especial_id", Especial.all.collect {|p| [ p.title, p.id ] }, {:include_blank => 'Ninguno'}) %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :autor %><br />
    <%= f.text_field :autor %>
  </div>
  <div class="field">
    <%= f.label :portada %><br />
    <%= f.check_box :portada %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
