<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @articulo.title %>
</p>

<p>
  <b>Body:</b>
  <%= @articulo.body %>
</p>

<p>
  <b>Especial:</b>
  <%= @articulo.especial_id %>
</p>

<p>
  <b>Portada:</b>
  <%= @articulo.portada %>
</p>


<%= link_to 'Edit', edit_articulo_path(@articulo) %> |
<%= link_to 'Back', articulos_path %>
